.callgraph {
  --background-color: #f5fffa;

  --edge-color: #548f9e;

  --node-bg-color: #f4f5f1;
  --node-seleted-color: red;

  --cell-bg-color: var(--node-bg-color);
  --cell-border-color: black;

  --icon-color: lightcoral;

  width: 100%;
  height: 100%;
  outline: none;

  cursor: default;

  & > #graph0 > polygon:first-of-type {
    fill: var(--background-color);
  }

  .edge {
    & > path:not(.hover-path) {
      stroke: var(--edge-color);
      stroke-width: 3;
    }
    & > polygon {
      stroke: var(--edge-color);
      fill: var(--edge-color);
    }
    & > path.hover-path {
      stroke: transparent;
      stroke-width: 15;
    }

    &.impl {
      & > path {
        stroke-dasharray: 8, 3;
      }
      & > polygon {
        stroke-width: 2;
        fill: none !important;
      }
    }

    &.fade {
      opacity: 0.05;
    }
    &:hover {
      --edge-color: #00bcd4;
    }
    &.incoming {
      --edge-color: #698b69;
    }
    &.outgoing {
      --edge-color: #008acd;
    }
    &.incoming.outgoing {
      --edge-color: black;
    }
  }

  .cluster {
    polygon {
      stroke-width: 1.6;
    }

    rect {
      &:hover {
        cursor: pointer;
      }

      fill: lightgray;
      rx: 15;
    }

    text {
      pointer-events: none;
    }
  }

  .node {
    cursor: pointer;

    & > rect {
      rx: 20;
      fill: var(--node-bg-color);
      filter: url(#shadow);
    }
    &.selected > rect {
      stroke: var(--node-seleted-color);
      stroke-width: 2.25;
    }

    .title > text {
      font-weight: bold;
    }
  }

  .cell {
    & > rect {
      fill: var(--cell-bg-color);
      stroke: var(--cell-border-color);
      stroke-width: 1.13;
    }

    &.highlight > rect {
      filter: url(#highlightShadow);
    }
    &.selected:not(.highlight) > rect {
      filter: url(#selectShadow);
    }
    &:not(.highlight):not(.selected):not(:has(> .cell:hover)):hover > rect {
      filter: url(#hoverShadow);
    }

    /* symbols */

    &:not(.type, .field, .property) > rect {
      rx: 10;
    }

    &.interface {
      --cell-bg-color: #fff8dc;

      & > rect {
        stroke-dasharray: 7, 5;
        stroke-width: 1.6;
      }
    }

    &.module {
      --cell-bg-color: #ffebcd;
    }
    &.constructor {
      --cell-bg-color: #ffdab9;
    }
    &.function {
      --cell-bg-color: #e4ffb5;
    }
    &.method {
      --cell-bg-color: #deb887;
    }
    &.type {
      --cell-bg-color: #f4f5f1;

      & > text {
        transform: translateY(1px);

        &:first-of-type {
          fill: var(--icon-color);
        }
      }
    }

    &:where(.field, .property) > text {
      font-weight: unset;
      font-style: italic;
      fill: var(--icon-color);
    }
  }
}
