.callgraph {
  --background-color: #f5fffa;

  --edge-color: #548f9e;

  --node-bg-color: #f4f5f1;
  --node-seleted-color: red;

  --cell-bg-color: var(--node-bg-color);
  --cell-border-color: #8b9f4e;
  --cell-text-color: #202020;

  --icon-color: lightcoral;

  width: 100%;
  height: 100%;
  outline: none;

  cursor: default;

  user-select: none;

  & > #graph0 {
    & > polygon:first-of-type {
      fill: var(--background-color);
    }

    & > #faded-group {
      & > :where(.node, .cluster) {
        opacity: 0.2;
      }

      & > .edge {
        opacity: 0.05;
      }
    }
  }

  .edge {
    & > path:not(.hover-path) {
      stroke: var(--edge-color);
      stroke-width: 3;
    }
    & > polygon {
      stroke: var(--edge-color);
      fill: var(--edge-color);
    }
    & > path.hover-path {
      stroke: transparent;
      stroke-width: 15;
    }

    &.impl {
      & > path {
        stroke-dasharray: 8, 3;
      }
      & > polygon {
        stroke-width: 2;
        fill: none !important;
      }
    }

    &:hover {
      --edge-color: #00bcd4;
    }
    &.incoming {
      --edge-color: #698b69;
    }
    &.outgoing {
      --edge-color: #008acd;
    }
    &.incoming.outgoing {
      --edge-color: black;
    }
  }

  .cluster {
    polygon {
      stroke-width: 1.6;
    }

    .cluster-label {
      cursor: pointer;
      fill: lightgray;
      rx: 18px;
    }

    text {
      pointer-events: none;
    }

    &.selected {
      polygon {
        stroke-width: 2.5;
        stroke: red;
      }

      .cluster-label {
        fill: #ff603b;
      }
    }
  }

  .node {
    & > rect {
      rx: 20px;
      fill: var(--node-bg-color);
      filter: url(#shadow);
    }
    &.selected > rect {
      stroke: var(--node-seleted-color);
      stroke-width: 2.25;
    }

    & > .title {
      cursor: pointer;

      & > text {
        font-weight: bold;
      }
    }
  }

  .cell {
    & > rect {
      fill: var(--cell-bg-color);
      stroke: var(--cell-border-color);
      stroke-width: 1.6;
    }
    & > text {
      fill: var(--cell-text-color);
    }

    &.highlight > rect {
      --cell-border-color: blue;
      filter: url(#highlightShadow);
    }
    &.selected:not(.highlight) > rect {
      --cell-border-color: red;
      filter: url(#selectShadow);
    }
    &:not(.highlight):not(.selected):not(:has(> .cell:hover)):hover > rect {
      --cell-border-color: orange;
      filter: url(#hoverShadow);
    }

    /* symbols */

    &:not(.type, .field, .property) > rect {
      rx: 10px;
    }

    &.interface {
      --cell-bg-color: #fff8dc;
      --cell-border-color: #a69348;

      & > rect {
        stroke-dasharray: 7, 5;
      }
    }

    &.module {
      --cell-bg-color: #ffebcd;
      --cell-border-color: #a67e43;
    }
    &.constructor {
      --cell-bg-color: #ffdab9;
      --cell-border-color: #a66e3c;
    }
    &.function {
      --cell-bg-color: #e4ffb5;
      --cell-border-color: #7ea63b;
    }
    &.method {
      --cell-bg-color: #dec887;
      --cell-border-color: #90772C;
    }
    &.type > text {
      transform: translateY(1px);

      &:first-of-type {
        fill: var(--icon-color);
      }
    }

    &:where(.field, .property) > text {
      font-weight: unset;
      font-style: italic;
      fill: var(--icon-color);
    }
  }
}
