@layer components.has-deps {
  :where(.combo-box) {
    --height: 40px;
    --border-radius: calc(var(--height) / 2);

    height: var(--height);
    width: 360px;
    border: 1px var(--blue-2) solid;
    border-radius: var(--border-radius);

    position: relative;

    button {
      flex: 0 0 auto;
    }

    .select-btn {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 10px;

      background: transparent;

      user-select: none;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .option {
      display: flex;
      align-items: center;
      gap: 8px;
      color: black;

      .kind {
        border: 1px solid #555;
        border-radius: 9px;
        background: #f4f5f1;
        padding: 2px 4px;
        flex-shrink: 0;

        &.func {
          background: #e4ffb5;
        }
        &.method {
          background: #deb887;
        }
        &.interface {
          background: #fff8dc;
        }
      }

      .label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      :where(&:has(> .kind:empty)) {
        .kind {
          display: none;
        }

        .label {
          font-weight: bold;
        }
      }
    }

    .bar {
      display: flex;
      align-items: center;

      height: 100%;

      .button {
        --_margin: 5px;

        --_min-height: calc(var(--height) - var(--_margin) * 2);
        --_border-radius: calc(var(--_min-height) / 2);

        width: var(--_min-height);
        height: var(--_min-height);
        border: 1px solid var(--blue-4);
        margin: var(--_margin);

        padding-block: 0;
        padding-inline: 0;
      }

      .option {
        flex-grow: 1;

        &:hover {
          background: inherit;
        }
      }
    }

    .popover {
      display: flex;
      flex-direction: column;
      justify: stretch;
      align-items: center;
      gap: 8px;

      input {
        height: 2.2rem;
        width: 98%;
        padding-left: 0.8rem;
        border-radius: 0.7rem;
        color: black;
        background: inherit;
        outline: 1.5px solid var(--blue-2);

        &:focus {
          outline: 2px solid var(--blue-3) !important;
        }
      }

      .option-list {
        width: 100%;
        max-height: calc(6 * var(--option-height));
        overflow-y: scroll;

        .prompt {
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
        }
      }
    }
  }
}
